@{
    Layout = "_Layout";
}

<div class="pop-up-detail">
    <div class="popup">
        <div class="header-flex">
            <h2>Insert New Admin</h2>
        </div>
        <div id="detail-bio">
            <table>
                <tr>
                    <td>Username</td>
                    <td id="info1">
                        <input type="text" id="insert1">
                        <div class="popup-validation-error" id="error1"></div>
                    </td>
                </tr>
                <tr id="tr1">
                    <td>Password</td>
                    <td id="info1">
                        <input type="password" id="insert2">
                        <div class="popup-validation-error" id="error2"></div>
                    </td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td id="info1">
                        <input type="password" id="insert3">
                        <div class="popup-validation-error" id="error3"></div>
                    </td>
                </tr>
                <tr>
                    <td>Job Title</td>
                    <td id="info1">
                        <input type="text" id="insert4">
                        <div class="popup-validation-error" id="error4"></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="button25" id="sumbit-insert">Save</button>
                        <button class="button25" id="closepopup">Cancel</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="pop-up-detail2">
    <div class="popup">
        <div class="header-flex">
            <h2>Update Admin</h2>
        </div>
        <div id="detail-bio">
            <table>
                <tr>
                    <td>Username</td>
                    <td id="edit1">
                        <label id="edit-content1"></label>
                    </td>
                </tr>
                <tr>
                    <td>Job Title</td>
                    <td id="edit2">
                        <input type="text" id="edit-content2">
                        <div class="popup-validation-error" id="edit-error1"></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="button25" id="sumbit-edit">Save</button>
                        <button class="button25" id="closepopup2">Cancel</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>